@use 'abstracts' as *;

.site-footer {
  .container {
    display: grid;
    grid-gap: rem(24);
    grid-template-columns: 1fr;

    @include breakpoint('medium') {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__logos {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    margin: 0;
    padding: 0;

    @include breakpoint('medium') {
      justify-content: flex-end;
    }

    li:last-of-type {
      margin-top: 5px;
    }

    a {
      display: block;
    }

    img {
      height: 30px;
    }
  }

  .share {
    display: flex;
    gap: 0.5rem;
    margin: 0;
    padding: 0;
    @include font-size(28px);

    a {
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__copyright {
    display: flex;
    align-items: center;
    @include font-size(12px);

    @include breakpoint('medium') {
      justify-content: flex-end;
    }

    a {
      display: block;
      margin-right: 5px;
      line-height: 1;
    }
  }
}
