@use 'abstracts' as *;

.table__wrapper {
  overflow-x: scroll;
}

.table {
  // width: 100%;
  // max-width: 100%;
  @include font-size(14px);
  border-collapse: collapse;
  border-spacing: 0;

  .page__main > & {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  &--striped {
    tbody tr:nth-child(even) td {
      background: $color__gray-400;
    }
  }

  &--head-colored {
    thead th {
      color: $color__white;
      background: $color__blue-200;
    }
  }

  &--compact {
    @include breakpoint('medium') {
      max-width: 85%;
      margin-right: auto;
      margin-left: auto;
    }
  }

  thead {
    border-bottom: 2px solid $color__gray-500;
  }

  th,
  td {
    padding: 0.5rem;
    vertical-align: top;
  }

  tr + tr {
    border-top: 1px solid $color__gray-500;
  }

  a {
    color: $color__orange-400;

    &:hover {
      color: $color__orange-500;
      text-decoration: underline;
    }
  }

  img {
    margin: 0 auto;
  }

  ul {
    margin: 0;
  }
}
