@use 'abstracts' as *;

.btn {
  display: inline-block;
  padding: 8px 16px;
  text-align: center;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &--small {
    @include font-size(14px);
  }

  &--blue {
    color: $color__white;
    background: $color__blue-200;
    border: 1px solid $color__blue-300;

    &:hover {
      background: $color__blue-300;
    }
  }

  &--transparent {
    padding: 0;
    background: transparent;
    border-radius: 0;
  }

  &--orange {
    color: $color__white;
    background: rgba($color__orange-300, 0.5);
    border: 1px solid $color__orange-300;

    &:hover {
      background: $color__orange-300;
    }
  }

  &--close {
    padding: 0.5rem;
    color: $color__gray-600;

    &:hover,
    &:focus {
      color: $color__primary;
    }
  }
}

.btn--sort {
  position: relative;

  &:hover {
    color: $color__orange-300;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(100% + 4px);
    display: block;
    width: 0;
    height: 0;
    border: 4px solid transparent;
  }

  &::before {
    margin-top: -9px;
    border-bottom-color: $color__gray-500;
  }

  &::after {
    margin-top: 1px;
    border-top-color: $color__gray-500;
  }

  &.asc::before {
    border-bottom-color: $color__orange-100;
  }

  &.desc::after {
    border-top-color: $color__orange-100;
  }
}
