<header class="site-header blue-stripes" role="banner">
  <div class="container blue-stripes">
    <a class="site-header__title" href="{{ "/" | relative_url }}">
      {% assign lang = site.active_lang | default: 'en' %}
      {% assign logo = 'oedi-logo-' | append: lang | append: '.png' %}
      <img src="{{ 'assets/images/logos/' | append: logo | relative_url }}" alt="{{ site.title }}" title="{{ site.title }}">
    </a>
    <nav class="site-header__nav" role="navigation">
      <button class="site-header__nav-trigger" aria-expanded="false" aria-label="Toggle Menu">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
        <span class="visually-hidden">Menu</span>
      </button>
      <div class="site-header__nav-links">
        {% include site-nav.html class="header" location="inHeader" %}
        <button id="updates" class="btn btn--orange btn--signup" data-a11y-dialog-show="dialog">{{ site.data.strings.signup_updates }}</button>
        {% include site-nav-languages.html %}
      </div>
    </nav>
  </div>
</header>
