{% assign categories = site.data.inventory_categories | where: "is_subcategory",
false %}

<div class="inventory__legend text--small">
  {{ site.data.strings.legend }}
  <ul class="inventory__legend-items" role="list">
    <li class="mostly">{{ site.data.strings.mostly_open }};</li>
    <li class="partially">{{ site.data.strings.partially_open }};</li>
    <li class="not">{{ site.data.strings.not_open }};</li>
  </ul>
</div>

<div class="inventory__table-wrapper">
  <table class="table inventory__table">
    <thead>
      <tr>
        <th>{{ site.data.strings.country }}</th>
        {% for category in categories %} {%- assign value =
        site.data.inventory_categories_strings[category.slug] %} {% assign
        categoryImg = 'assets/images/inventory/categories/' | append:
        category.slug | append: '.png' %}
        <th>
          <div data-tippy-content="{{ value }}" aria-label="{{ value }}">
            <img
              src="{{ categoryImg | relative_url }}"
              alt="{{ value }}"
              width="36"
              height="36"
            />
          </div>
        </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for country in site.data.inventory_countries %} {% assign
      country_page_url = '/inventory/' | append: country.country | append: '/'
      %} {% assign country_page = site.inventory | find_exp: "item",
      "item.permalink == country_page_url" %}
      <tr>
        <td>
          <a href="{{ country_page.url }}">{{ country_page.title }}</a>
        </td>
        {% for category in categories %} {%- assign value =
        country.categories[category.slug].value -%} {%- assign class = '' -%}
        {%- assign status = '' %} {%- if value == '1' -%} {% assign class =
        'not' -%} {% assign status = site.data.strings.not_open %} {%- elsif
        value == '2' -%} {%- assign class = 'partially' -%} {% assign status =
        site.data.strings.partially_open %} {%- elsif value == '3' -%} {%-
        assign class = 'mostly' -%} {% assign status =
        site.data.strings.mostly_open %} {%- endif -%} {%- assign tooltip =
        site.data.inventory_categories_strings[category.slug] | append: '; ' |
        append: status -%}
        <td class="{{ class }}">
          {%- if value == '1' -%}
          <i
            class="fas fa-times"
            data-tippy-content="{{ tooltip }}"
            aria-label="{{ status }}"
          ></i>
          {% else %}
          <i
            class="fas fa-check"
            data-tippy-content="{{ tooltip }}"
            aria-label="{{ status }}"
          ></i>
          {% endif %}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
