<aside class="scoring">
  <h2>{{ page.scoring.title }}</h2>
  {{ page.scoring.desc }} {% assign total = 0 %}
  <table class="scoring__table">
    <thead>
      <tr>
        <th>{{ site.data.strings.principle }}</th>
        <th>{{ site.data.strings.points_possible }}</th>
      </tr>
    </thead>
    <tbody>
      {% for principle in site.data.inventory_principles %} {% assign total =
      total | plus: principle.points %}
      <tr>
        <td>{{ site.data.inventory_principles_strings[principle.slug] }}</td>
        <td>{{ principle.points }}</td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td>{{ site.data.strings.total }}</td>
        <td>{{ total }}</td>
      </tr>
    </tfoot>
  </table>
</aside>
