{% assign categories = site.data.inventory_categories | where: "is_subcategory",
false %}

<div class="inventory__legend text--small">
  Legend:
  <ul class="inventory__legend-items">
    <li class="mostly">Mostly open;</li>
    <li class="partially">Partially open;</li>
    <li class="not">Not open;</li>
  </ul>
</div>

<table class="table inventory__table">
  <thead>
    <tr>
      <th >Country</th>
      {% for category in categories %}
      <th>{{ category.slug }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for country in site.data.inventory_countries %}
    {% assign country_page_url = '/inventory/' | append: country.country | append: '/' %}
    {% assign country_page = site.inventory | find_exp: "item", "item.permalink == country_page_url" %}
    <tr>
      <td>
        <a href="{{ country_page.url }}"
          >{{ country_page.title }}</a
        >
      </td>
      {% for category in categories %}
      <td>{{ country.categories[category.slug].value }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
