{% if site.data.menus.languages.size > 1 %}
<div class="nav-lang">
  <button
    class="nav-lang__trigger btn--transparent"
    aria-expanded="false"
    aria-label="Change site language"
  >
    {% assign active_lang_string = site.data.menus.languages | where:
    "identifier", site.active_lang | first %} {{ active_lang_string.title }}
  </button>
  <ul class="nav-lang__menu">
    {% for item in site.data.menus.languages %} {% if item.identifier ==
    site.active_lang %} {% assign itemClass = ' active-item' %} {% else %} {%
    assign itemClass = '' %} {% endif %} {% if item.identifier == 'en' %} {%
    assign itemURL = site.baseurl | append: page.url %} {% else %} {% assign
    itemURL = site.baseurl | append: item.url | append: page.url %} {% endif %}

    <li class="nav-lang__item{{ itemClass }}">
      <a
        href=" {{ itemURL }}"
        title="Go to {{ item.title }} version of this page."
        >{{ item.title }}</a
      >
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
