---
layout: inventory-country
pagination:
    data: inventory.countries
    size: 1
    alias: country
permalink: "{{ locale }}/inventory/{{ country.slug | slugify }}/"
eleventyComputed:
  title: "{{ country.translations[locale] }}"
  slug: "{{ country.slug }}"
---
