---
layout: inventory-country
pagination:
    data: inventory.countries
    size: 1
    alias: country
permalink: "{{ locale }}/inventory/{{ country.country | slugify }}/"
eleventyComputed:
  title: "{{ country.country }}"
  slug: "{{ country.country }}"
---

TODO:
- Create JSON list of each country with translated name from markdown files.
- Idea is that you can create a country in one place, provide any necessary translations, and use this single template to create files for all of them