---
useTippy: true
---

{% extends "layouts/base.njk" %}

{% import "macros/components.njk" as components %}

{% block pageCSS %}
<link rel="stylesheet" href="{{ site.url }}{{ '/_assets/css/pages/page.css' }}" />
<link rel="stylesheet" href="{{ site.url }}{{ '/_assets/css/pages/inventory-country.css' }}" />
{% endblock %}

{% set mapImg = [site.url, '/_assets/images/inventory/maps/', slug, '.png'].join('') %}

{% block content %}
<article
  class="page country"
  itemscope
  itemtype="http://schema.org/BlogPosting"
>
  <header class="page__header">
    <h1 class="page__title" itemprop="name headline">
      {{ title | escape }}
    </h1>
    <section class="country__info text--small">
      <dl>
        <dt>{{ 'election_evaluated' | i18n }}</dt>
        <dd>{{ country.election_evaluated }}</dd>
        <dt>{{ 'last_checked' | i18n }}</dt>
        <dd>{{ country.last_checked }}</dd>
        <dt>{{ 'open_data_information' | i18n }}</dt>
        <dd>{{ country.open_data_information | safe }}</dd>
      </dl>
      <img
        src="{{ mapImg }}"
        alt="World map highlighting {{ title }}."
        width="160"
        height="160"
      />
    </section>
  </header>

  <div class="post__content e-content" itemprop="articleBody">
    <div class="table__wrapper">
      <table class="table country__table">
        <thead>
          <tr>
            <th>{{ 'category' | i18n }}</th>
            <th>{{ 'openness' | i18n }}</th>
            {{ components.principlesIcons(inventory.principles, 'th') }}
          </tr>
        </thead>
        <tbody>
          {% set countryCategories = inventory.categories | filterInventoryCategoriesByPrinciples(country.inventory.principles) %}
          {% for category in countryCategories %}
            {%- set categoryName = ['inventory_lang', category.slug].join('.') | i18n %} 
            {% if category.is_subcategory and country.inventory.principles[category.slug] %} 
                <tr>
                  <td colspan="2">{{ categoryName }}</td>
                  {% for principle in inventory.principles %} 
                    {% set value = country.inventory.principles[category.slug][principle.slug] %} 
                    {% set string = principle.values[value] | i18n %}
                    <td>
                      {% if principle.slug == 'available-for-free' and value == '1' %}
                      <a
                        href="{{ country.inventory.principles[category.slug]['available-for-free-url'] }}"
                      >
                        {{ string }}
                        <i class="fas fa-external-link-alt"></i>
                      </a>
                      {% elif principle.slug == 'permanently-available' and value ==
                      '1' %}
                      <span
                        class="has-tooltip"
                        data-tippy-content="{{ 'last_checked' | i18n }} {{ country.inventory.principles[category.slug]['permanently-available-date'] }}"
                      >
                        {{ string }}
                      </span>
                      {% else %} {{ string }} {% endif %}
                    </td>
                  {% endfor %}
                </tr>
            {% else %} 
              {%- set value = country.inventory.categories[category.slug].value -%} 
              {%- set status = '' %}
              {%- if value == '1' -%} 
                {% set class = 'not' -%} 
                {% set status = 'not_open' | i18n %} 
              {%- elif value == '2' -%} 
                {%- set class = 'partially' -%} 
                {% set status = 'partially_open' | i18n %} 
              {%- elif value == '3' -%} 
                {%- set class = 'mostly' -%} 
                {% set status = 'mostly_open' | i18n %} 
              {%- endif -%}
              <tr class="country__table-category">
                <td>
                  {{ categoryName }} 
                  {% if country.inventory.categories[category.slug].body_name != "" %}
                    <span>
                      ({{ country.inventory.categories[category.slug].body_name }})
                    </span>
                  {% endif %}
                </td>
                <td><div class="label {{ class }}">{{ status }}</div></td>
                {% if loop.first == true %}
                  <td colspan="{{ inventory.principles | length }}"></td>
                {% else %} 
                  {{ components.principlesIcons(inventory.principles, 'td') }}
                {% endif %}
              </tr>
            {% endif %} 
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <footer>
    {% set prevLabel %}{{ 'back_to' | i18n }} {{ 'data_inventory' | i18n }}{% endset %}
    {% set prevUrl = "/inventory/" | locale_url %}
    {% include "components/pagination.njk" %}
  </footer>
</article>
{% endblock %}
