/*=================================
=            Variables            =
=================================*/

/*----------  Colors  ----------*/

$color__black: #000;
$color__white: #fff;

$color__gray-100: #f8f8f8;
$color__gray-200: #f1f2f2;
$color__gray-300: #eee;
$color__gray-400: #eaeef2;
$color__gray-500: #ddd;
$color__gray-600: #757575;
$color__gray-900: #333;

$color__blue-100: #eaf0f7;
$color__blue-200: #337ab7;
$color__blue-300: #2e6da4;
$color__blue-400: #19407a;
$color__blue-500: #003467;

$color__orange-100: #ed8968;
$color__orange-200: #e55120;
$color__orange-300: #cc4627;
$color__orange-400: #cc330f;
$color__orange-500: #a9391f;

$color__mostly: #060;
$color__partially: #f0ad4e;
$color__not: #c66;

$color__primary: $color__blue-500;
$color__primary-light: $color__blue-400;

/*----------  Typography  ----------*/

$font__merriweather: 'Merriweather', Georgia, serif;
$font__raleway: 'Raleway', Arial, sans-serif;

/*----------  Structure  ----------*/

$breakpoints: (
  'small': 30em,
  'medium': 55em,
  'large': 64em,
  'xlarge': 80em
);

$size__container-max-width: 1170px;
$size__content-max-width: 680px;
