{% set currentUrl = page.url %}

{% set menu_items = filterMenus(menus.main, navLocation) %}

<nav>
  <ul class="site-nav site-nav--{{ navLocation }}" role="list">
    {% for item in menu_items %}
      <li class="menu-item">
        <a 
        {% if currentUrl === link.url %}aria-current="page"{% endif %}
        href="{{ item.url | locale_url }}"
          >{{ item.title | i18n }}</a
        >
      </li>
    {% endfor %}
  </ul>
</nav>
