@use 'abstracts' as *;

.site-nav {
  display: flex;
  flex-direction: column;
  font-family: $font__raleway;
  font-weight: 700;
  @include font-size(14px);
  letter-spacing: 0.5px;
  text-transform: uppercase;

  @include breakpoint('medium') {
    flex-direction: row;
  }

  li + li {
    @include breakpoint('medium') {
      margin-left: rem(32);
    }
  }

  a {
    display: block;
    padding: 0.5rem 0;

    &:hover {
      text-decoration: underline;
    }
  }
}
