{% set total = 0 %}
<aside class="scoring">
  <h2>{{ scoring.title }}</h2>
  {{ scoring.desc | safe }} 
  <table class="scoring__table">
    <thead>
      <tr>
        <th>{{ 'principle' | i18n }}</th>
        <th>{{ 'points_possible' | i18n }}</th>
      </tr>
    </thead>
    <tbody>
      {% for principle in inventory.principles %} 
        {% set total = total +  principle.points %}
        {% set label = ['inventory', principle.slug] | join('.') %}
        <tr>
          <td>{{ label | i18n }}</td>
          <td>{{ principle.points }}</td>
        </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td>{{ 'total' | i18n }}</td>
        <td>{{ total }}</td>
      </tr>
    </tfoot>
  </table>
</aside>
