<ul class="share" role="list">
  <li>
    <a
      href="https://www.facebook.com/openelectiondatainitiative"
      rel="nofollow"
      target="_blank"
      aria-label="Share on Facebook"
      rel="noopener"
      ><i class="fab fa-facebook-square"></i></a>
  </li>
  <li>
    <a
      href="https://twitter.com/openelectdata"
      rel="nofollow"
      target="_blank"
      aria-label="Visit OEDI Twitter"
      rel="noopener"
      ><i class="fab fa-twitter-square"></i></a>
  </li>
  <li>
    <a href="https://www.instagram.com/openelectiondata/"
      rel="nofollow" target="_blank" aria-label="Visit OEDI Instagram" rel="noopener"><i class="fab fa-instagram-square"></i></a>
  </li>
  <li>
    <a
      href="mailto:openelectiondata@ndi.org?subject={{ site.title | escape }}"
      aria-label="Email link to {{ title | escape }}"
      ><i class="fas fa-envelope-square"></i></a>
  </li>
</ul>
