{% extends "layouts/base.njk" %}

{% block pageCSS %}
<link rel="stylesheet" href="{{ site.url }}{{ '/_assets/css/pages/page.css' }}" />
{% endblock %}

{% block content %}

<article class="page">
  {{ content | safe }}
</article>

{% endblock %}
