/*=================================
=            Functions            =
=================================*/

@use 'variables' as *;
@use 'sass:math';

/*=================================
=            Functions            =
=================================*/

$browser-context: 16px;

@function rem($size) {
  @if is-px($size) == false {
    $size: $size * 1px;
  }

  $remSize: math.div($size, $browser-context);
  @return #{$remSize}rem;
}

@function is-number($value) {
  @return type-of($value) == 'number';
}

@function is-px($value) {
  @return is-number($value) and index('px', unit($value)) != null;
}
