@use '../abstracts' as *;

.page {
  &--sidebar {
    display: grid;
    grid-gap: rem(32);

    @include breakpoint('medium') {
      grid-gap: rem(40);
      grid-template-columns: minmax(225px, 1fr) 3fr;
    }
  }

  &__sidebar {
    align-self: start;
    padding: 1rem;
    background: $color__gray-200;
    border-top: 2px solid $color__blue-400;

    h2 {
      font-weight: normal;
      @include font-size(20px);
    }

    > ul {
      margin: 1rem 0 0;
      padding: 0;
      list-style: none;
      @include font-size(14px);
    }

    li {
      margin-bottom: 0.5rem;

      ul {
        display: none;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        padding-inline-start: 2rem;
        @include font-size(13px);
      }

      /* stylelint-disable-next-line */
      &.is-active ul {
        display: block;
      }
    }

    a {
      color: $color__orange-400;

      &:hover {
        color: $color__orange-500;
        text-decoration: underline;
      }

      /* stylelint-disable */
      &.is-active {
        /* stylelint-enable */
        color: $color__primary-light;
        font-weight: bold;
      }
    }
  }

  &__title {
    margin: 0 0 1rem;
    font-weight: 500;
    font-size: clamp(100%, calc(1rem + 2vw), 36px);

    span {
      display: block;
      margin-top: 0.5rem;
      font-size: 0.75em;
    }
  }

  &__main {
    @include font-size(16px);
    line-height: 1.5;

    > * + * {
      margin-top: 1rem;
    }

    a {
      color: $color__orange-300;

      &:hover {
        color: $color__orange-200;
        text-decoration: underline;
      }
    }

    ol:not([class]),
    ul:not([class]) {
      /* stylelint-disable-next-line */
      li + li {
        margin-top: 1rem;
      }
    }
  }
}
