@use 'abstracts' as *;
/*==================================
=            Typography            =
==================================*/

/*============================
=            Copy            =
============================*/

$headers: (
  1: 40px,
  2: 36px,
  3: 28px,
  4: 25px,
  5: 20px
);

.page__main {
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 2.75rem 0 1rem;
    font-weight: 400;
    line-height: 1.15;
  }

  h1 {
    margin-top: 0;

    + h2 {
      margin-top: 1.5rem;
    }
  }

  @each $header, $size in $headers {
    h#{$header} {
      @include font-size($size);
    }
  }

  h2 {
    color: $color__primary;
    font-family: $font__raleway;
  }

  // h3 {
  //   color: $color__primary;
  // }

  h4 {
    font-family: $font__raleway;
    font-weight: 700;
  }
}

.text {
  &--small {
    @include font-size(14px);
  }

  &--xs {
    @include font-size(12px);
  }
}

/*=============================
=            Links            =
=============================*/

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease-in-out;

  &:visited {
    color: inherit;
  }

  &:hover,
  &:focus,
  &:active {
    color: inherit;
    border: 0;
  }

  &:focus {
    outline: thin dotted;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}

.footnotes {
  margin-top: 2rem !important;
  padding-top: 2rem;
  @include font-size(12px);
  border-top: 1px solid $color__gray-300;

  @include breakpoint('medium') {
    @include font-size(14px);
  }

  ol {
    margin: 0;
    padding-left: 1rem;

    @include breakpoint('medium') {
      padding-left: 2rem;
    }
  }
}
