---
layout: base
---

<article class="page">
  <h1 class="page__title">{{ page.title }}</h1>
  {{ content }}

  <form name="contact" netlify>
    <div class="input-wrapper">
      <label for="name">{{ site.data.strings.name }}</label>
      <input id="name" type="text" name="name" />
    </div>
    <div class="input-wrapper">
      <label for="email">{{ site.data.strings.email }}:</label>
      <input id="email" type="email" name="email" />
    </div>
    <div class="input-wrapper">
      <label for="info"
        >{{ site.data.strings.looking_for_information_on }}:</label
      >
      <select id="info" name="role[]" multiple>
        <option value="option_election_processes"
          >{{ site.data.strings.option_election_processes }}</option
        >
        <option value="option_open_data_principles"
          >{{ site.data.strings.option_open_data_principles }}</option
        >
        <option value="option_data_academy"
          >{{ site.data.strings.option_data_academy }}</option
        >
        <option value="option_data_inventory"
          >{{ site.data.strings.option_data_inventory }}</option
        >
        <option value="option_something_else"
          >{{ site.data.strings.option_something_else }}</option
        >
      </select>
    </div>
    <div class="input-wrapper">
      <label for="message">{{ site.data.strings.message }}:</label>
      <textarea id="message" name="message"></textarea>
    </div>
    <div class="input-wrapper">
      {{ site.data.strings.signup_for_updates }}:<br />
      <label>
        <input type="checkbox" name="signup_for_updates" value="true" />
        {{ site.data.strings.i_want_to_receive_updates }}
      </label>
    </div>
    <button class="btn btn--blue btn--submit" type="submit">
      {{ site.data.strings.send }}
    </button>
  </form>
</article>
