<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% I18n_Headers %}
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    {%- seo -%}
    {% unless page.image.size > 0 %}
    <meta property="og:image" content="{{ site.logo | relative_url }}" />
    {% endunless %}

    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&family=Raleway:wght@700&display=swap"
      rel="stylesheet">
  
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
    {%- if page.layout == 'home' -%}
    <link rel="stylesheet" href="{{ '/assets/css/pages/home.css' | relative_url }}" />
    {% else %}
    <link rel="stylesheet" href="{{ '/assets/css/pages/page.css' | relative_url }}" />
    {%- endif -%} {%- if page.title == '404' -%}
    <link rel="stylesheet" href="{{ '/assets/css/pages/404.css' | relative_url }}" />
    {%- endif -%} {%- if page.layout == 'inventory' -%}
    <link rel="stylesheet" href="{{ '/assets/css/pages/inventory.css' | relative_url }}" />
    {%- endif -%}
    {%- if page.layout == 'inventory-country' -%}
    <link rel="stylesheet" href="{{ '/assets/css/pages/inventory-country.css' | relative_url }}" />
    {%- endif -%}
    <link rel="stylesheet" media="print" href="{{ '/assets/css/print.css' | relative_url }}" />
  
    {%- feed_meta -%}
    {%- if site.google_analytics -%}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics}}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());

      gtag('config', '{{ site.google_analytics}}');
    </script>
    {%- endif -%}
    <script src="https://kit.fontawesome.com/bc58bc506e.js" crossorigin="anonymous"></script>
  </head>

  <body class="{{ page.layout | slugify | prepend: 'layout-'}}">

    {%- include header.html -%}

    <main id="main" class="page-content" aria-label="Content">
      <div class="container">
        {{ content }}
      </div>
    </main>
    <div id="dialog">
      <div tabindex="-1" data-a11y-dialog-hide></div>
      <dialog aria-labelledby="dialog-title">
        <header>
          <h1 id="dialog-title">{{ site.data.strings.signup_for_updates }}</h1>
          <button type="button" class="btn btn--transparent btn--close" data-a11y-dialog-hide aria-label="Close this dialog window">
            &times;
          </button>
        </header>
        <form netlify>
          <label for="email" class="text--small">{{ site.data.strings.enter_your_email_for_updates }}</label>
          <input id="email" type="email" placeholder="{{ site.data.strings.email }}" />
          <button type="submit" class="btn btn--blue btn--small">{{ site.data.strings.signup }}</button>
        </form>
      </dialog>
    </div>

    {%- include footer.html -%}
    {% if page.useTippy %}
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script>
      window.addEventListener('DOMContentLoaded', () => {
        const tippyInstances = tippy('[data-tippy-content]');
        const singleton = tippy.createSingleton(tippyInstances, { delay: 500 });
      })
    </script>
    {% endif %}

    <script src="{{ "/assets/js/bundle.js" | relative_url }}" type="text/javascript"></script>

    {%- if page.url == '/inventory/' -%}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>
    <script type="text/javascript">
      const options = {
        valueNames: [ 'country', { name: 'election-management-body-and-administration', attr: 'data-value'}, { name: 'election-management-body-processes', attr: 'data-value'}, { name: 'electoral-boundaries', attr: 'data-value'}, { name: 'political-party-registration', attr: 'data-value'}, { name: 'ballot-qualification', attr: 'data-value'}, { name: 'election-campaigns', attr: 'data-value'}, { name: 'campaign-finance', attr: 'data-value'}, { name: 'voter-registration', attr: 'data-value'}, { name: 'voter-lists', attr: 'data-value'}, { name: 'voter-education', attr: 'data-value'}, { name: 'polling-stations', attr: 'data-value'} ]
      };

      const userList = new List('inventory', options);
    </script>
    {%- endif -%}
  </body>

</html>
