<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% I18n_Headers %}
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    {%- seo -%}
    {% unless page.image.size > 0 %}
    <meta property="og:image" content="{{ site.logo | relative_url }}" />
    {% endunless %}

    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&family=Raleway:wght@700&display=swap"
      rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
    {%- if page.layout == 'home' -%}
    <link rel="stylesheet" href="{{ '/assets/css/pages/home.css' | relative_url }}" />
    {% else %}
    <link rel="stylesheet" href="{{ '/assets/css/pages/page.css' | relative_url }}" />
    {%- endif -%} {%- if page.title == '404' -%}
    <link rel="stylesheet" href="{{ '/assets/css/pages/404.css' | relative_url }}" />
    {%- endif -%}
    <link rel="stylesheet" media="print" href="{{ '/assets/css/print.css' | relative_url }}" />
  
    {%- feed_meta -%}
    {%- if site.google_analytics -%}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics}}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());

      gtag('config', '{{ site.google_analytics}}');
    </script>
    {%- endif -%}
  </head>

  <body class="{{ page.layout | slugify | prepend: 'layout-'}}">

    {%- include header.html -%}

    <main id="main" class="page-content" aria-label="Content">
      <div class="container">
        {{ content }}
      </div>
    </main>
    <div id="dialog">
      <div tabindex="-1" data-a11y-dialog-hide></div>
      <dialog aria-labelledby="dialog-title">
        <header>
          <h1 id="dialog-title">{{ site.data.strings.signup_updates }}</h1>
          <button type="button" class="btn btn--transparent btn--close" data-a11y-dialog-hide aria-label="Close this dialog window">
            &times;
          </button>
        </header>
        <form>
          <label for="email" class="text--small">{{ site.data.strings.signup_email_label }}</label>
          <input type="email" placeholder="{{ site.data.strings.signup_email_label }}" />
          <button type="submit" class="btn btn--blue btn--small">{{ site.data.strings.signup }}</button>
        </form>
      </dialog>
    </div>

    {%- include footer.html -%}

    <script src="{{ "/assets/js/bundle.js" | relative_url }}" type="text/javascript"></script>
  </body>

</html>
