---
layout: default
---

<article class="home">
  <header class="home__header">
    <img
      src="/assets/images/meta/oedi-logo-white.png"
      id="logo"
      class="home__logo"
      width="87"
      height="130"
      alt=""
    />
    <h1>
      <div class="home__title">{{ site.data.strings.website_title }}</div>
      <div class="home__subtitle">
        {{
        site.data.strings.unleashing_the_potential_of_election_data_to_promote_accountability
        }}
      </div>
    </h1>
  </header>
  <div class="cards">
    {% for card in page.cards %}
    <article class="card">
      <header>
        <h2><a href="{{ card.slug }}">{{ card.title }}</a></h2>
      </header>
      <div class="card__details">
        <div class="card__side card__side--font">
          <img src="/assets/images/meta/{{ card.img }}" alt="" />
        </div>
        <div class="card__side card__side--back">
          <p>{{ card.subtitle }}</p>
          <a href="{{ card.slug }}">{{ card.viewMore }}</a>
        </div>
      </div>
      <div class="card__main">
        <p>{{ card.desc }}</p>
        <a href="{{ card.slug }}">{{ site.data.strings.read_more }}...</a>
      </div>
    </article>
    {% endfor %}
  </div>
</article>
