---
layout: default
---

{% assign countrySlug = page.slug | split: "." | first %} {% assign mapImg =
'assets/images/inventory/maps/' | append: countrySlug | append: '.png' %}

<article
  class="page country"
  itemscope
  itemtype="http://schema.org/BlogPosting"
>
  <header class="page__header">
    <h1 class="page__title" itemprop="name headline">
      {{ page.title | escape }}
    </h1>
    <section class="country__info text--small">
      <dl>
        <dt>{{ site.data.strings.election_evaluated }}</dt>
        <dd>{{ page.election_evaluated }}</dd>
        <dt>{{ site.data.strings.last_checked }}</dt>
        <dd>{{ page.last_checked }}</dd>
        <dt>{{ site.data.strings.open_data_information }}</dt>
        <dd>{{ page.open_data_information }}</dd>
      </dl>
      <img
        src="{{ mapImg | relative_url }}"
        alt="World map highlighting {{ page.title }}."
        width="160"
        height="160"
      />
    </section>
  </header>

  <div class="post__content e-content" itemprop="articleBody">
    {% assign country = site.data.inventory_countries | find: "country",
    countrySlug %}

    <div class="table__wrapper">
      <table class="table country__table">
        <thead>
          <tr>
            <th>{{ site.data.strings.category }}</th>
            <th>{{ site.data.strings.openness }}</th>
            {% for principle in site.data.inventory_principles %} {% assign
            principleName =
            site.data.inventory_principles_strings[principle.slug] %} {% assign
            principleImg = 'assets/images/inventory/principles/' | append:
            principle.slug | append: '.png' %}
            <th class="country__table-principle">
              <div
                data-tippy-content="{{ principleName }}"
                aria-label="{{ principleName }}"
              >
                <img
                  src="{{ principleImg | relative_url }}"
                  alt="{{ principleName }}"
                  width="36"
                  height="36"
                />
              </div>
            </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for category in site.data.inventory_categories %} {%- assign
          categoryName = site.data.inventory_categories_strings[category.slug]
          %} {% if category.is_subcategory %} {% if
          country.principles[category.slug] %}
          <tr>
            <td colspan="2">{{ categoryName }}</td>
            {% for principle in site.data.inventory_principles %} {% assign
            value = country.principles[category.slug][principle.slug] %} {%
            assign string = principle.values[value] %}
            <td>
              {% if principle.slug == 'available-for-free' and value == '1' %}
              <a
                href="{{ country.principles[category.slug]['available-for-free-url'] }}"
              >
                {{ site.data.strings[string] }}
                <i class="fas fa-external-link-alt"></i>
              </a>
              {% elsif principle.slug == 'permanently-available' and value ==
              '1' %}
              <span
                class="has-tooltip"
                data-tippy-content="{{ site.data.strings.last_checked }} {{ country.principles[category.slug]['permanently-available-date'] }}"
              >
                {{ site.data.strings[string] }}
              </span>
              {% else %} {{ site.data.strings[string] }} {% endif %}
            </td>
            {% endfor %}
          </tr>
          {% endif %} {% else %} {%- assign value =
          country.categories[category.slug].value -%} {%- assign status = '' %}
          {%- if value == '1' -%} {% assign class = 'not' -%} {% assign status =
          site.data.strings.not_open %} {%- elsif value == '2' -%} {%- assign
          class = 'partially' -%} {% assign status =
          site.data.strings.partially_open %} {%- elsif value == '3' -%} {%-
          assign class = 'mostly' -%} {% assign status =
          site.data.strings.mostly_open %} {%- endif -%}
          <tr class="country__table-category">
            <td>
              {{ categoryName }} {% if
              country.categories[category.slug].body_name != "" %}
              <span>
                ({{ country.categories[category.slug].body_name }})
              </span>
              {% endif %}
            </td>
            <td><div class="label {{ class }}">{{ status }}</div></td>
            {% if forloop.first == true %}
            <td colspan="{{ site.data.inventory_principles | size }}"></td>
            {% else %} {% for principle in site.data.inventory_principles %} {%
            assign principleName =
            site.data.inventory_principles_strings[principle.slug] %} {% assign
            principleImg = 'assets/images/inventory/principles/' | append:
            principle.slug | append: '.png' %}
            <td>
              <div
                data-tippy-content="{{ principleName }}"
                aria-label="{{ principleName }}"
              >
                <img
                  src="{{ principleImg | relative_url }}"
                  alt="{{ principleName }}"
                  width="24"
                  height="24"
                  loading="lazy"
                />
              </div>
            </td>
            {% endfor %} {% endif %}
          </tr>
          {% endif %} {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <footer>
    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
    {% assign prevLabel = site.data.strings.back_to | append: ' ' | append:
    site.data.strings.data_inventory %} {% include pagination.html
    prev=prevLabel prev_url="/inventory/" %}
  </footer>
</article>
